.inputWrap {
  display: flex;
  margin-top: 16px;
  position: relative;
  input {
    flex-grow: 1;
  }
  .status {
    position: absolute;
    border-radius: 50%;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
  }
}
